html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Porsche';
  src: url('/assets/fonts/Porsche_Next_Web_Lat-Gr-Cyr/WEB-WOFF-2/PorscheNextWebLatin/PorscheNextWLa-Regular.woff2') format('woff2');
}

body {
  font-family: 'Porsche', sans-serif;
  background: #f5f5f5;
  color: #333;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60vh;
  overflow: visible;
  background: #000;
  z-index: 1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container .overlay-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: auto;
  height: 650px;
}

.video-container .overlay-font {
  position: absolute;
  top: calc(100% - 220px);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  width: auto;
  height: 350px;
}

.text-container {
  margin-top: 15vh;
}

.small-img {
  max-width: 400px;
  width: 100%;
}

.black-box {
  position: relative;
  background-color: black;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: visible;
  z-index: 2;
  padding: 2rem 0 6rem;
  margin-top: -100px;
  min-height: 450px;
}

.black-box-content {
  max-width: 600px;
  margin: 0;
  margin-left: 22rem;
  padding: 0 1rem;
  text-align: left;
}

.overlap-img-behind {
  position: absolute;
  top: 450px;
  left: 600px;
  width: 600px;
  z-index: 2;
  border-radius: 5%;
}

.overlap-img {
  position: absolute;
  top: -70px;
  right: 300px;
  width: 500px;
  z-index: 99;
  border-radius: 5%;
}

.black-box-content h2 {
  font-size: 3rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.black-box-content p {
  font-size: 1.3rem;
  line-height: 1.5;
  display: block;
}

.custom-video {
  border-radius: 20px;
  width: 100%;
  max-width: 1350px;
}

.video-wrapper {
  position: relative;
  display: inline-block;
}

.play-pause-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.lower-image {
  margin-top: 300px;
  display: block;
  margin: 300px auto 0;
  width: 120%;
  max-width: none;
  transform: translateX(-10%);
  border-radius: 5%;
}

@media (max-width: 768px) {
  .video-container {
    height: 50vh;
  }

  .video-container .overlay-img {
    height: 150px;
  }

  .video-container .overlay-font {
    top: calc(100% - 190px);
    height: 280px;
  }

  .text-container {
    margin-top: 15vh;
  }

  .black-box {
    margin-top: -50px;
    padding: 1rem 0 2rem;
  }

  .black-box-content {
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
  }

  .overlap-img-behind,
  .overlap-img {
    top: -20px;
    right: 20px;
    width: 250px;
  }
}

.carousel .card {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.carousel .card-img-top {
  height: 50em;
  width: 100%;
  object-fit: cover;
  object-position: center top;
  background-color: transparent;
}

.carousel .card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: #fff;
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .video-container .overlay-img {
    height: 400px;
  }

  .video-container .overlay-font {
    top: calc(100% - 220px);
    height: 250px;
  }
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

#header .navbar-custom {
  height: 60px;
  position: relative;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#header .navbar-custom .navbar-brand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header .offcanvas-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(70px);
}

#header .offcanvas-custom {
  background: #fff;
  backdrop-filter: blur(15px);
}

#header .offcanvas {
  top: 0 !important;
}

#header .menu-options li {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

#header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000 !important;
  transition: background 0.3s ease;
  z-index: 9999;
}

#header.sticky .navbar-custom .navbar-brand img {
  height: 60px;
}

#header .offcanvas-body a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
